@model ParserLibrary.ITrackable

@{
    ViewData["Title"] = "Create";
}

<link href="/css/site.css" rel="stylesheet" />

<div class="wrapper">
    <section class="container" id="locations">
        <article id="content">
            <header>
                <h2>Create New Location</h2>
            </header>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                            <label asp-for="GeoPoint.Latitude" class="control-label"></label>
                            <input asp-for="GeoPoint.Latitude" class="form-control" />
                            <span asp-validation-for="GeoPoint.Latitude" class="text-danger"></span>
                            <label asp-for="GeoPoint.Longitude" class="control-label"></label>
                            <input asp-for="GeoPoint.Longitude" class="form-control" />
                            <span asp-validation-for="GeoPoint.Longitude" class="text-danger"></span>
                        </div>
                    </form>


                            <div class="row">
                                <div class="col-auto">
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="button btn-success gy-3 px-4 me-md-2" />
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <a type="button" class="button btn-warning" asp-action="Index">Cancel</a>
                                </div>

                             </div>
                        </div>
                </div>
        </article>
    </section>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
