@model IEnumerable<ParserLibrary.ITrackable>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
<link href="/css/site.css" rel="stylesheet" />

<div class="wrapper">
    <div class="container">

        <article id="content">
            <header>
                <h2>View Locations</h2>
            </header>
            <table class="table locations" id="LocationsTable">
                <br />
                <thead>
                    <tr>
                        <th>
                            Latitude
                        </th>
                        <th>
                            Longitude
                        </th>
                        <th>
                            Location Name
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.GeoPoint.Latitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GeoPoint.Longitude)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </article>

    </div>
</div>

@section scripts {
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>$(document).ready(function () {
            $('#LocationsTable').DataTable();
        });</script>
}
