@page
@model FranchiseUI.Views.Locations.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
