@{
    ViewData["Title"] = "FileUpload";
}

<link href="/css/site.css" rel="stylesheet" />

<div class="wrapper">
    <section class="container" id="locations">
        <article id="content">

            <header>
                <h2>Upload New File</h2>
            </header>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p>
                        Required file columns:<br />
                        Latitude , Longitude , Name
                    </p>

                    @using (Html.BeginForm("FormFileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <span>Select File:</span>
                        <input type="file" name="postedFile" />
                        <hr />
                        <input type="submit" value="FormFileUpload" />
                        <br />
                    }

                    <div class="row">
                        <div class="col-auto">
                            <a type="button" class="button btn-success" asp-action="Index">Cancel</a>
                        </div>
                    </div>
                </div>



            </div>
        </article>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}