@{
    ViewData["Title"] = "FileUpload";
}

<link href="/css/site.css" rel="stylesheet" />

<div class="wrapper">
    <section class="container" id="locations">
        <article id="content">

            <header>
                <h2>Upload New File</h2>
            </header>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <p>
                        Required columns: <br />
                        Latitude , Longitude , Name
                    </p>
                    <form action="BufferedSingleFileUploadPhysical/?handler=Upload"
                          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
                          method="post">
                        <dd>
                            <input id="FileUpload_FormFile" type="file"
                                   name="FileUpload.FormFile" />
                        </dd>

                        <div style="margin-top:15px">
                            <output name="result">::Upload feature currently under construction.::</output>
                        </div>
                        
                        <div class="row">
                            <ul class="actions col-12 mt-4">
                                <li>
                                    <input class="button btn-warning" type="submit" value="Upload" />
                                </li>
                                <li>
                                    <a type="button" class="button" asp-action="Index">Cancel</a>
                                </li>
                            </ul>
                        </div>
                    </form>

                    
                </div>



            </div>
        </article>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                window.location.href = '/';
            }

            resultElement.value = 'Result: ' + response.status + ' ' +
                response.statusText;
        } catch (error) {
            console.error('Error:', error);
        }
    }</script>