@model ParserLibrary.Databases.ParserControl

@{
    ViewData["App"] = "Franchise Calculator";}

<main class="flex-shrink-0">
    <div class="col-12">
        <h1>Expansion Evaluation</h1>
        <p>We calculate which branch locations are furthest apart in the provided csv file to determine which areas may require more coverage. </p>
        <form class="row gy-2 gx-3 gy-4" asp-action="Index" asp-controller="Home" method="post">
            <div class="col-12 d-flex justify-content-start">
                <p>
                    <button id="btnSubmit" type="submit" class="btn btn-outline-dark btn-sm">
                        Generate Results
                    </button>
                </p>
            </div>
        </form>
        <div class="col-12 gy-4">
            <p>
                @Model.solution.Message1
            </p>
            <p>
                @Model.solution.Message2 <br />
                @Model.solution.Message3 <br />
            </p>
                @Model.solution.Message4 <br />
        </div>
    </div>
</main>