<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Franchise Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>@ViewData["Title"] - Franchise Analytics</title>
    
    <meta property="og:title" content="by Lynda Foster" />
    <meta property="og:description" content="Evaluates the coverage health of a franchise by determining which locations (in a provided csv file) are farthest apart." />
    <meta property="og:url" content="http://lfost42-franchise.herokuapp.com" />
    <meta property="og:image" content="http://lfost42-franchise.herokuapp.com/images/app.png" />
    <meta property="og:site_name" content="Franchise Analytics" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta name="twitter:card" content="by Lynda Foster" />
    <meta name="twitter:title" content="Franchise Analytics" />
    <meta name="twitter:description" content="An evaluation of franchise location coverage"/>
    <meta name="twitter:site" content="&#64;lfost42"/>
    <meta name="twitter:image" content="http://lfost42-franchise.herokuapp.com/images/app.png"/>
    <meta name="twitter:creator" content="&#64;lfost42"/>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/5db21ba9c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/result.css" />
</head>

<body class="homepage is-preload">

    <div id="page-wrapper">
        <main class="flex-shrink-0">
            @RenderBody()
        </main>

        <!-- Footer Section -->
        <div id="footer-wrapper">
            <section id="footer">
                <div class="container">
                    <ul class="copyright">
                        &copy;2021 Lynda Foster
                    </ul>

                    <ul class="icons">
                        <li><a href="https://github.com/lfost42"><i class="icon fab fa-github fa-lg"></i></a></li>
                        <li>
                            <a href="https://www.reddit.com/user/lynda_">
                                <i class="icon fab fa-reddit-alien fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/lynda-foster/">
                                <i class="icon fab fa-linkedin fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>


    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)